@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-ui/css/black.css";

body {
  margin: 0;
  padding: 0;
}

.docs-layout {
  padding-top: 4rem; /* Adjust based on navbar height */
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 50; /* Ensure it stays above other elements */
}
