name: Build and deploy Next.js app to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  APPLICATION_PUBLISH_PROFILE: ${{ secrets.APP_PUBLISH_PROFILE }}
  STRIPE_SK: ${{ secrets.STRIPE_SK }}
  STRIPE_ENDPOINT_SECRET: ${{ secrets.STRIPE_ENDPOINT_SECRET }}
  WEBAPP_NAME: "Quail-Next"
  NEXT_PUBLIC_SUPABASE_URL: ${{ secrets.NEXT_PUBLIC_SUPABASE_URL }}
  NEXT_PUBLIC_SUPABASE_ANON_KEY: ${{ secrets.NEXT_PUBLIC_SUPABASE_ANON_KEY }}
  SUPABASE_ADMIN: ${{ secrets.SUPABASE_ADMIN }}
  NEXT_PUBLIC_AZURE_RESOURCE_NAME: ${{ secrets.NEXT_PUBLIC_AZURE_RESOURCE_NAME }}
  NEXT_PUBLIC_AZURE_API_KEY: ${{ secrets.NEXT_PUBLIC_AZURE_API_KEY }}
  NEXT_PUBLIC_AZURE_FUNCTION_ENDPOINT: ${{ secrets.NEXT_PUBLIC_AZURE_FUNCTION_ENDPOINT }}
  NEXT_PUBLIC_STRIPE_PK: ${{ secrets.NEXT_PUBLIC_STRIPE_PK }}
  NEXT_PUBLIC_APP_URL: ${{ secrets.NEXT_PUBLIC_APP_URL }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Convert filenames in public folder to lowercase
        run: |
          # This will find all files, and rename them to lowercase
          find public -depth | while read file; do
          # Skip directories
          [ -d "$file" ] && continue
          # Convert basename to lowercase
          newFileName="$(dirname "$file")/$(basename "$file" | tr '[:upper:]' '[:lower:]')"
          # If old != new, rename it
          if [ "$file" != "$newFileName" ]; then
            mv "$file" "$newFileName"
          fi
          done

      - name: Set up Node.js version
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Cache Next.js build
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-

      - name: npm install, build, and test
        run: |
          npm install --legacy-peer-deps
          npm run build
          cp -r .next/static .next/standalone/.next/
          cp -r public .next/standalone/

      - name: "Deploy to Azure Web App"
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.WEBAPP_NAME }}
          slot-name: "Production"
          publish-profile: ${{ env.APPLICATION_PUBLISH_PROFILE }}
          package: ./.next/standalone
